{% extends "page.html" %}
{% block head %}
    {{ parent() }}
    <title>{{ Pelintiedot }}</title>
{% endblock %}
{% block content %}
	<div class="row">
		<div class="alert alert-info sslfixed" id="chatbox" hidden="true"></div>
		<br/>
	</div>
    <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="active" role="presentation">
                <a class="active" role="tab" id="kokoelma-tab" data-toggle="tab" href="#kokoelma" role="tab" aria-controls="kokoelma">{{ Kokoelma }}</a>
            </li>
            <li role="presentation">
                <a role="tab" id="peli-tab" data-toggle="tab" href="#peli" aria-controls="peli">{{ tPeli }}</a>
            </li>
  
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade in active" id="kokoelma" role="tabpanel" aria-labelledby="kokoelma">
				{{ include ("pelinkokoelmatiedot.html") }}
            </div>
            <div class="tab-pane fade" id="peli" role="tabpanel" aria-labelledby="peli">
				{{ include ("pelitiedot.html") }}
			</div>  
        </div>
    </div>
{% endblock %}
{% block javascript %}
	<script type="text/javascript" src="{{ baseurl }}/js/kontrolli.js"></script>
    <script type="text/javascript">
		var peli=-1;
		var ktunniste=false;
        var nimet=null;
		var julkaisijat=null;
		var nimiid=null;
		var julkaisijaid=null;
		var kokoelma="{{ kokoelma }}";
		
        $(document).ready(function () {
			lataaKokoelmatiedot('{{ ktunniste }}');
			 $(window).keydown(function(event){
				if( (event.keyCode == 13)) {
					event.preventDefault();
					lomake=$(event.target).closest("form").attr("id");
					switch (lomake) {
                        case "nimenlisays":
							nimisubmit();
							break;
						case "julkaisijanlisays":
							julkkusubmit();
							break;
						case "pelitiedot":
							pelisubmit();
							break;
						case "kokoelmatiedot":
							kokoelmasubmit();
							break;
                    }
					return false;
				}
				
			});
	
			/* BGG-haku */
            $("#bggnappula").on('click', function () {                
                if ($("#bgglinkki").get(0).checkValidity()==true) {
					$("#bggstatus").html("{{ Haetaan }}");   
                    $.get("{{baseurl}}/games", { mode : "geek", url : $("#bgglinkki").val() }, function (data) {
                        if (data.tulos=="OK") {
							$("#bggstatus").html("");
							bggdate = new Date().toISOString();
							$("#bggdate").html(bggdate);
							paivitapeli(data);
                        }
                        else {
							$("#bggstatus").html("{{ NotFound }}");                            
						}
                   });
                }
                else {
					$("#bggstatus").html("{{ HuonoLinkki }}");
                }
            });
			
			$("#einimea").on("click", function () {
				$("#lisaaPelinimi").modal('hide');
			})
			
			$("#joonimi").on("click", function () {
				nimisubmit();
			});
			
			$("#nimipoista").on("click", function() {
				indeksi = $("#nimet").val();
				if (indeksi < 0 || indeksi >= nimet.length) {
                    return;
                }
				nimet.splice(indeksi,1);
				paivitanimet();
			})
		
			$("#einimea").on("click", function () {
				$("#lisaaPelinimi").modal('hide');
			})
			
			$("#eijulkaisijaa").on("click", function () {
				$("#lisaaJulkaisijanimi").modal('hide');
			})
			
			$("#joojulkaisija").on("click", function () {
				julkkusubmit();
			});
			
			$("#julkaisijapoista").on("click", function() {
				indeksi = $("#julkaisijat").val();
				if (indeksi < 0 || indeksi >= julkaisijat.length) {
                    return;
                }
				julkaisijat.splice(indeksi,1);
				paivitajulkaisijat();
			})
			
			$("#ptallenna").on("click", function() {
				pelisubmit();
				return false;
			});
			
			$("#omistaja").autocomplete({
				source : "{{kayttajahaku}}",
				minLength : 2
			});
			
			$("#tallenna").on("click", function() {
				kokoelmasubmit();
				return false;
			});
		});
		
		function julkkusubmit(args) {
			uusio=$("#uusijulkaisija").val();
			if (uusio=="" || julkaisijat.indexOf(uusio)!=-1) {
				return;
			}
			julkaisijat.push(uusio);
			paivitajulkaisijat();
			$("#julkaisijat").val(julkaisijat.indexOf(uusio));
			$("#lisaaJulkaisijanimi").modal('hide');		
        }
		
		function nimisubmit(args) {
            uusio=$("#uusinimi").val();
			if (uusio=="" || nimet.indexOf(uusio)!=-1) {
                return false;
            }
			nimet.push(uusio);
			paivitanimet();
			$("#nimet").val(nimet.indexOf(uusio));
			$("#lisaaPelinimi").modal('hide');
        }
		
		function checkEm(formi) {
			if ($(formi).get(0).checkValidity()==true) {
				return true;
			}
			$(formi).find("input, textarea, select").each(function () {
				check(this);										
			});
			return false;
		}
		
		function pelisubmit(args) {
            if(checkEm($("#pelitiedot"))) {
				var data = {};
				var pelaajia = "";
				$("#pelitiedot").find("input, textarea, select, p.form-control-static").each(function () {
					switch ($(this).attr("id")) {
                        case "nimet":
							data.nimi = nimet[$("#nimet").val()];
							data.nimet = nimet;
							break;
						case "julkaisijat":
							data.julkaisija = julkaisijat[$("#julkaisijat").val()];
							data.julkaisijat = julkaisijat;
							break;
						case "pelaajamin":
							pelaajia=$("#pelaajamin").val();
							break;
						case "pelaajamax":
							pelaajia+="-"+$("#pelaajamax").val();
							break;
						case "tunniste":
						case "bggrank":
						case "score":
						case "bggdate":
							indeksi = $(this).attr("id");
							arvo = $(this).html();
							data[indeksi]=arvo;
						case "plisatty":
						case "pmuokattu":
							break;
						default:
							indeksi = $(this).attr("id");
							arvo = $(this).val();
							data[indeksi] =  arvo;
							break;
                    }
				});
				$("#chatbox").html("{{ Talletan }}");
				$("#chatbox").show();
			    $.post("{{baseurl}}/games", data, function(data) {
					if(data=="OK") {
						$("#chatbox").html("{{TalletusOnnistui}}");
					} else {
						$("#chatbox").html("{{TalletusFeilasi}}");
					}
					$("#chatbox").hide(5000);
			   });
            }
			return false;
        }
		
		function kokoelmasubmit() {
             if(checkEm($("#kokoelmatiedot"))) {
				var data = {};
				data.kokoelma = kokoelma;
				$("#kokoelmatiedot").find("input, textarea, select, p.form-control-static").each(function () {
					switch ($(this).attr("id")) {
                        case "kokoelmanimi":
							data.nimiid = $("#kokoelmanimi").val();							
							break;
						case "kokoelmajulkaisija":
							data.julkaisijaid = $("#kokoelmajulkaisija").val();							
							break;
						case "omistaja":
							break;
						case "kokoelmatunniste":
						case "tuotukokoelmasta":
						case "alkuperainentunniste":
							indeksi = $(this).attr("id");
							arvo = $(this).html();
							data[indeksi]=arvo;
						case "lisatty":
						case "muokattu":
							break;
						default:
							indeksi = $(this).attr("id");
							arvo = $(this).val();
							data[indeksi] =  arvo;
							break;
                    }
				});
			    $.post("{{baseurl}}/collectiongames", data, function(data) {
					console.log(data);
			   });
            }
			return false;
        }
		function lataaKokoelmatiedot(tunniste) {
            $.get("{{ baseurl }}/collectiongames", { id : tunniste, mode : "kokoelmapeli" }, function (data) {
				if (data.Virhe!="OK") {
                    alert("Hubba bubba!");
                }
				var lisatty="";
				var muokattu="";
				var nimi="";
				var julkaisija="";
				
				$.each(data.data, function (index, value) {
					switch (index) {
						case "omistaja":
						case "lahjoittaja":
						case "hylly":
						case "paikka":
						case "varasto":
						case "laatikko":
						case "kunto":
						case "huomautus":
						case "varasto":						
							$("#"+index).val(value);
							break;
                        case "tunniste":
							$("#kokoelmatunniste").html(value);
							ktunniste = value;
							break;
						case "peli":
							peli = value;
							break;
						case "lisatty":
						case "lisaaja":
							if (lisatty=="") {
                                lisatty = value;
                            } else {
								lisatty += " "+value;
							}
							break;
						case "muokattu":
						case "muokkaaja":
							if (muokattu=="") {
                                muokattu = value;
                            } else {
								muokattu += " "+value;
							}
							break;
						case "nimiid":
							if (value==null) {
                                nimiiid=0;
                            }
							nimiid=value;
							break;
						case "julkaisijaid":
							if (value==null) {
								julkaisijaid=0;
                            }
							julkaisijaid=value;
							break;
						case "nimet":
							if (value==null) {
								// console.log(index+" not set");
							}
							else {								
								nimet=value;
							}
							
							break;
						case "julkaisijat":
							if (value==null) {
								// console.log(index+" not set");
							}
							else {								
								julkaisijat=value;
							}
						case "nimi":
							nimi = value;
							break;
						case "julkaisija":
							julkaisija = value;
							break;						
						case "verkkoosoite":
							$("#lahjoittajawww").val(value);
							break;
						case "tuotukokoelmasta":
						case "alkuperainentunniste":
							$("#"+index).html(value);
							break;
							
                    }
				});
				if (julkaisijat===null || typeof julkaisijat !== "object") {
                    julkaisijat = [ julkaisija ];				    
                }
				if (julkaisijaid >= julkaisijat.length) {
                    julkaisijaid=0;                    
				}
				if (nimet===null || typeof nimet !== "object") {
                    nimet=[ nimi ];
                }
				if (nimiid >= nimet.length) {
                    nimiid=0;
                }
				$("#lisatty").html(lisatty);
				$("#muokattu").html(muokattu);
				lataapeli(peli);
			});
        }
		
		function paivitapeli(data) {
			var nimi="";
			var julkaisija="";
			$.each(data.data, function (index, value) {
				switch (index) {
					case "suunnittelija":
					case "bgglinkki":
					case "kesto":
					case "gtin":
					case "vuosi":
					case "age":
						$("#"+index).val(value);
						break;
					case "tunniste":
					case "score":
					case "bggrank":
					case "bggdate":
						$("#"+index).html(value);
						ktunniste = value;
						break;
					case "peli":
						peli = value;
						break;
					case "pelaajia":
						r = value.split(" ");
						if (r[0] === undefined) {
							break;
						}
						$("#pelaajamin").val(r[0]);
						if (r[2] === undefined) {
							break;
						}
						$("#pelaajamax").val(r[2]);
						break;
					case "nimet":
						if (value==null) {
							// console.log(index+" not set");
						}
						else {								
							nimet=value;
						}
							
						break;
					case "julkaisijat":
						if (value==null) {
							// console.log(index+" not set");
						}
						else {								
							julkaisijat=value;
							$("#julkaisija").val(julkaisijat[0]);
						}
							
						break;
					case "nimi":
						nimi = value;
						break;
					case "julkaisija":
						julkaisija = value;
						break;
					case "lisatty":
						$("#plisatty").html(value);
						break;
					case "muokattu":
						$("#pmuokattu").html(value);
						break;
                    }
				});
				if (nimet===null) {
                    nimet=[ nimi ];
                }
				if (julkaisijat===null) {
                    julkaisijat= [ julkaisija ];
                }
				paivitanimet();
				paivitajulkaisijat();
        }
		
		function paivitanimet() {
            if (nimet===null) {
                return
            }
			$("#kokoelmanimi").empty();
			$("#nimet").empty();			
			$.each(nimet, function (index, value) {
				  $('#kokoelmanimi').append($('<option>', { 
						value: index,
						text : value
					}));
					$("#nimet").append($('<option>', { 
						value: index,
						text : value
					}));
			});			
        }
		
		function paivitajulkaisijat() {
            if (julkaisijat===null) {
                return
            }
			$("#kokoelmajulkaisija").empty();
			$("#julkaisijat").empty();			
			$.each(julkaisijat, function (index, value) {
				  $('#kokoelmajulkaisija').append($('<option>', { 
						value: index,
						text : value
					}));
					$("#julkaisijat").append($('<option>', { 
						value: index,
						text : value
					}));
			});			
        }
		
		function lataapeli(tunniste) {
			$.get("{{ baseurl }}/games", { id : tunniste, mode : "game" }, function (data) {
				if (data.tulos!="OK") {
                    alert("Hubba bubba!");
                }
				paivitapeli(data);
			});
		}
    </script>
{%endblock%}