        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only"><?php echo _("Näytä navigaatio");?></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><?php echo _("Lautapelikirjasto");?></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                                <li><a href="<?php echo $baseurl;?>/index.php"><?php echo _("Etusivu");?></a></li>
                                <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><?php
                                        echo _("Pelit");?><span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                                <li><a href="<?php echo $baseurl;?>/view/forms/gamesearch.php"><?php echo _("Pelihaku");?></a></li>
                                                <li><a href="#"><?php echo _("Tagit");?></a></li>
                                                <li><a href="#"><?php echo _("Arviot");?></a></li>
                                                <li><a href="#"><?php echo _("Peliraportit");?></a></li>
                                        </ul>
                                </li>
                    
                                <?php
                                    if(!isset($_SESSION['loggedin']) || !$_SESSION['loggedin']) {
                                ?>
                                        <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><?php
                                                echo _("Kirjaudu");?><span class="caret"></span></a>
                                                <ul class="dropdown-menu">                                
                                                        <li><a href="<?php echo $url;?>"><?php echo _("Google Login");?></a></li>
                                                        <li><a href="<?php echo $baseurl;?>/view/forms/login.php"><?php echo _("Local login");?></a></li>
                                                </ul>
                                        </li>
                                <?php
                                    } else {
                                ?>      <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><?php
                                                echo _("Kokoelmat");?><span class="caret"></span></a>
                                                <ul class="dropdown-menu"> 
                                                        <li><a href="<?php echo "{$baseurl}/view/forms/collection.php?method=add";?>"><?php echo _("Lisää kokoelma");?></a></li>
                                                        <li><a href="<?php echo "{$baseurl}/view/collectionyp.php";?>"><?php echo _("Ylläpidä kokoelmia");?></a></li>                                                        
                                                        <li><a href="#"><?php echo _("Kokoelmaraportit");?></a></li>
                                                </ul>
                                        </li>
                                
                                        <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><?php
                                                echo _("Ylläpito");?><span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                <?php
                                        if($_SESSION['user']['tila']=='superadmin') {
                                ?>
                                                        <li><a href="<?php echo "{$baseurl}/view/forms/kayttajat.php";?>"><?php echo _("Käyttäjät");?></a></li>
                                                        <li><a href="<?php echo "{$baseurl}/view/forms/lainaajat.php";?>"><?php echo ("Tuo SLS-lainaajat");?></a></li>                                            
                                <?php
                                        }
                                ?>
                                                        <li><a href="<?php echo "{$baseurl}/view/forms/salasana.php";?>"><?php echo _("Vaihda salasana");?></a></li>
                                                </ul>
                                        </li>   
                                    <li><a href="<?php echo $baseurl;?>/index.php?logout=true"><?php echo ("Logout");?></a></li>
                    
                                <?php
                                    }
                                ?>
                            </ul>
                    </div>
                </div>
        </nav>
